<template>
    <div id="login">
        <h1>Login</h1>
        <input type="text" name="email" v-model="input.email" placeholder="Email" />
        <input type="password" name="password" v-model="input.password" placeholder="Password" />
        <button type="button" v-on:click="login">Login</button>
    </div>
</template>

<script>
    import axios from 'axios'
    import { async } from 'q';
    import { error, log } from 'util';
    import { constants } from 'fs';
    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    email: "",
                    password: ""
                },
                mockAccount: {
                    email: "nraboy",
                    password: "password"
                },
                errors: [],
                show: true,
                users: []
            }
        },
        async mounted() {
            let {data: {data}} = await axios.get('https://reqres.in/api/users?per_page=999999');
            this.users = data;
        },
        methods: {
            login: async function () {
                let userEmail = this.input;
                if (this.users.findIndex(r => r.email === userEmail.email)) {
                let data = await axios({ 
                    url: 'https://reqres.in/api/login',
                    method: 'post',
                    data: userEmail
                }).then((res) => {
                    console.log(res.data.token)
                })
                } else {
                console.log('2222222222222222222222222222')
                }
                console.log(res);
            // login() {
            //     if(this.input.email != "" && this.input.password != "") {
            //         if(this.input.username == this.mockAccount.username && this.input.password == this.mockAccount.password) {
            //             this.$emit("authenticated", true);
            //             this.$router.replace({ name: "secure" });
            //         } else {
            //             console.log("The username and / or password is incorrect");
            //         }
            //     } else {
            //         console.log("A username and password must be present");
            //     }
            }
        }
    }
</script>
